streamlit
pandas
seaborn
plotly
matplotlib
altair
numerize
requests
joblib
pages
streamlit_elements
streamlit_option_menu
streamlit_navigation_bar
pydeck
folium
streamlit_folium

joblib
precision_score
recall_score
r2_score
mean_squared_error
LabelEncoder